body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  margin-bottom: 10px;
}

.header h1 {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

.input-block {
  min-width: 320px;
  padding: 7px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.4);
}

.input-block:active, .input-block:hover, .input-block:focus {
  outline: none;
}

.main__input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn {
  background-color: #9af38e;
  padding: 10px 20px;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  line-height: 1;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.btn__list {
  margin-left: 20px;
}
